<!--内容-->
<div class="container">
	<div class="line-small">
		<div class="xl12 xm6 margin-small-bottom">
			<a target="_blank" href="../webapps/time/"><img src="http://obng7479r.bkt.clouddn.com/images/webapps/timer.png" width="100%" /></a>
		</div>
		<div class="xl6 xm3">
			<a target="_blank" href="../webapps/h5player/"><img src="http://obng7479r.bkt.clouddn.com/images/webapps/music.png" width="100%" /></a>
		</div>
		<div class="xl6 xm3">
			<a target="_blank" href="../games/tab-ball/"><img src="http://obng7479r.bkt.clouddn.com/images/games/tball.png" width="100%" /></a>
		</div>
	</div>
	<br />
	<div class="line-big">
		<div class="xl12 xm8">
			<div class="line-small">
				<div class="xs6">
					<img src="res/images/1.jpg" width="100%" />
					<ul class="list-unstyle height-big padding-top">
						<div news ng-repeat="news in newsDatas[0]" news-class="{{news.class}}" news-type="{{news.type}}" news-url="{{news.url}}" news-title="{{news.title}}">
						</div>
					</ul>
					<div><span class="badge bg-dot">更多</span><a ui-sref="index.html5" target="">&nbsp;&nbsp;点击查看更多</a></div>
				</div>
				<div class="xs6">
					<img src="res/images/2.jpg" width="100%" />
					<ul class="list-unstyle height-big padding-top">
						<div news ng-repeat="news in newsDatas[1]" news-class="{{news.class}}" news-type="{{news.type}}" news-url="{{news.url}}" news-title="{{news.title}}"></div>	
					</ul>
					<div><span class="badge bg-dot">更多</span><a ui-sref="index.css3" target="">&nbsp;&nbsp;点击查看更多</a></div>
				</div>
			</div>
			<br />
			<img src="res/images/x.jpg" width="100%" />
		</div>
		<div class="xl12 xm4">
			<h2 class="bg-main text-white padding">前端优秀框架展示</h2>
			<div class="padding-big bg">
				<ul class="list-media list-underline">
					<li ng-repeat="model in rightModels">
						<div class="media media-x">
							<a class="float-left" href="{{model.url}}" target="_blank">
							<img ng-src="{{model.picSrc}}" class="radius" /></a>
							<div class="media-body"><strong>{{model.name}}</strong>{{model.detail}}<a class="button button-little border-red swing-hover" href="{{model.url}}" target="_blank">查看详情</a></div>
						</div>
					</li>
				</ul>
				<div class="margin-top  bg" style="text-align: right" ><a ui-sref="index.css3" target="">&nbsp;&nbsp;点击查看更多</a></div>
			</div>
		</div>
	</div>
	<br />
	<!-- <h2 class="bg-main text-white padding margin-top margin-bottom">部分作品</h2>
	<div class="line-big">
		<div class="line-small padding-left padding-right">
			<div class="xl12 xm3 xs6 margin-small-bottom">
				<img src="res/images/product/p02.jpg" width="100%" />
			</div>
			<div class="xl12 xm3 xs6 margin-small-bottom">
				<img src="res/images/product/p02.jpg" width="100%" />
			</div>
			<div class="xl12 xm3 xs6 margin-small-bottom">
				<img src="res/images/product/p02.jpg" width="100%" />
			</div>
			<div class="xl12 xm3 xs6 margin-small-bottom">
				<img src="res/images/product/p02.jpg" width="100%" />
			</div>
		</div>
	</div> -->

	<div class="line-big">
		<div class="xl12 xm4">
			123123
		</div>
		<div class="xl12 xm8">
			<div class="line-small">
			<div class="xs6">
				<ul class="list-unstyle height-big padding-top">
					<div news ng-repeat="news in newsDatas[0]" news-class="{{news.class}}" news-type="{{news.type}}" news-url="{{news.url}}" news-title="{{news.title}}">
					</div>
				</ul>
				<div><span class="badge bg-dot">更多</span><a ui-sref="index.html5" target="">&nbsp;&nbsp;点击查看更多</a></div>

			</div>
			<div class="xs6">
					<ul class="list-unstyle height-big padding-top">
						<div news ng-repeat="news in newsDatas[1]" news-class="{{news.class}}" news-type="{{news.type}}" news-url="{{news.url}}" news-title="{{news.title}}"></div>	
					</ul>
					<div><span class="badge bg-dot">更多</span><a ui-sref="index.css3" target="">&nbsp;&nbsp;点击查看更多</a></div>
				</div>
			</div>
		</div>
	</div>
</div>
<br />
<br />